body {
	background-color: white;
	
}

.container { /* container for names */
	font-family: Fast In My Car.ttf;
	font-size: 30px;
	height: 20vh;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.site { /* div for the computer image */
	width: 90%;
	padding:10px;
	margin: 100px auto;
	display: flex;
	flex-direction:row;
	justify-content: center;

}

.box { /* box for the computer image */
	width: 700px;
	height: 500px;
	margin: 50px;
	background-color: transparent;
	border-radius: 0px;
	transition: 0.3s;
}

.lungs { /* computer image */
	display: block;
	width: 100%;
	border-radius: 5px;
	align-content: center;
	transition: 0.3s brightness(20%);
}

.tag { /* "GO SEE THE PROJECT" */
	position: absolute;
	bottom: 10px;
	right: 200px;
	text-align: left;
	font-family: Akira Expanded;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 30px;
	color: black;
	margin-top: 50px;
}

.box: not(img) { /* Properties for "GO SEE THE PROJECT */
	position: absolute;
	top: 30%;
	z-index: 1;
	color: #fff;
	text-align: center;
	width: 100%;
	opacity: 0;
	transition: 0.3s ;
	box-shadow: 0 0 16px cyan;

}
.box:hover{ 
	transform:scale(1.3);
	z-index: 2;
	filter: blur(2px);

}


h1 { /*  PRESENTING */
	text-align: center;
	font-family: Akira Expanded;
	font-size:25px;
	color: black;
}

h2 { /* LUNGS */
	text-align: center;
	font-family: Fast In My Car.ttf;
	font-size: 500px;
	font-weight: bold;
	color: black;
	padding: 0em;
	margin: 0em;
	border: 0em;	
}

section {
	background-image: url("Images/hitler.png");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: rect(0px, 0px, 150px, 0px);
	background-size: 600px 700px;
}


.slave { /* photo of a slave worker */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: center;
	width: 500px;
	height: 600px;
	

}

h3 { /* SLAVE LABOUR */
	text-align: center;
	font-family: Fast In My Car.ttf;
	font-size: 100px;
	color: black;
	padding: 0em;
	margin: 0em;
	/* text-shadow: 2px 2px #efsdf; */
}

h4 { /* by Graham Harwood and Matsuko Yokokiji */
	text-align: center;
	font-family: Fast In My Car.ttf;
	font-size: 15px;
	color: black;

}

h5 {
	font-family: Akira Expanded;
	font-size: 30px;
	writing-mode: vertical-lr;
	text-orientation: upright;
	padding-left: 100px;
	padding-right: 0px;
}

.container2 { /* container for "ABOUT THE ARTIST" */
	display: flex;
	flex-direction: row;
	height: 100vh;
	color: black;
	justify-content: space-around;
	flex-wrap: nowrap;

}

.artist { /* YOHA image */
	width: 500px;
	height: 400px;
}

.container3 { /* container for "ABOUT THE ARTIST" */
	display: flex;
	flex-direction: row;
	height: 150vh;
	color: black;
	justify-content: space-around;
	flex-wrap: nowrap;

}

.container4 { /* container for "BEAUTIFUL MONSTER" */
	display: flex;
	flex-direction: row;
	height: 150vh;
	color: black;
	justify-content: space-around;
	flex-wrap: nowrap;

}

.monster { /* monster image */
	width: 500px;
	height: 600px;
}



.item2 { /* ALL THE TEXT */
	font-family: Fast In My Car.ttf;
	font-size: 50px;
	writing-mode: vertical-lr;
	text-orientation: upright;
}

.item2: hover { /* TEXT BLURRING EFFECT */
	transform:scale(1.3);
	z-index: 2;
	filter: blur(2px);
}


.site {
	position: relative;
}


h6 { /* by Graham Harwood and Matsuko Yokokiji */
	text-align: left;
	font-family: Akira Expanded;
	writing-mode: vertical-lr;
	text-orientation: upright;
	text-orientation: use-glyph-orientation;
	padding-right: 200px;
	font-size: 30px;
	color: black;
	margin-right: 0px
}


#setup {
	height: 500px;
	width: 700px;
	align-content: center;
	margin-top: 100px;
	margin-left: 0px
	padding: 0px; 
	border: 5px solid black;

}

.first {
	display: flex;
	flex-direction: row;
	height: 100vh;
	color: black;
	justify-content: space-around;
	flex-wrap: nowrap;
	border-top: 100px;
}

.second {
	display: flex;
	flex-direction: row;
	height: 70vh;
	color: black;
	justify-content: space-around;
	flex-wrap: nowrap;
}


p2 {
	font-family: Helvetica;
	font-size: 30px;
	color: black;
	margin-left: 150px;
	margin-right: 150px;
}

p3 {
	font-family: Helvetica;
	font-size: 30px;
	color: black;
	padding-left: 300px;
	padding-right: 100px;
}



.direction {
	display: flex;
	flex-direction: row;
	height: 30hv;
	color: black;
	justify-content: space-around;
}




.slides {
	font-family: Akira Expanded;
	font-size: 20px;

}



a:link {
	text-decoration: none;
}

a: active {
	text-decoration: none;
}



a: hover {
	text-decoration: underline;
}

a:link, a:visited {
  color: purple;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
}
headerD {
  display: flex;
  font-size: 60px;
  color:purple;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

}

.Yoha1, .Graham, .Yokokoji {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.YohaText1 {
  display: flex;
  flex-direction: column;
  font-size: 150%;
  padding-left: 20px;
}

.GText, .YText {
  font-size: 150%;
  padding: 10px;
}

HeaderG {
  display: flex;
  justify-content: center;
  font-size:200%;
}

HeaderY{
  display: flex;
  justify-content: center;
  font-size: 200%;
}

.Ugly1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-size: 200%;
}

.Ugly2 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
  font-size: 200%;
}


.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: 40px 10px;
  transition-duration: 1s;
  cursor: pointer;

}

.button1 {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: purple;
  color: white;
  border: 2px solid purple;

}

.button1:hover {
  background-color: blue;
  color: white;
}

.button2 {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: purple;
  color: white;
  border: 2px solid purple;
}

.button2:hover {
  background-color: blue;
  color: white;
}

#bMDiv1 {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(29, 198, 29);
    padding: 10px;
}
#Etitle {
    height:20vh;
    background-color: rgb(29, 198, 29) ;
}

#Frankbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("Images/Frank.jpg");
    width: 100%;
    height: 380px; 
}
#Frankbutton:hover {
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}
#bMDiv3  {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid purple;
    padding: 10px;
}
#glance p {
    width:50%
    
}
#sametech p {
    width:50%
}

